name: Build and Deploy

on:
  push:
    paths:
      - '**.cc'
      - '**.h'
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Install Library Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libopus-dev

      - name: Cache DPP
        uses: actions/cache@v6
        id: cache-dpp
        with:
          path: dpp_build_output
          key: dpp-v10.1.3 # Change this to invalidate cache when updating DPP

      - name: Build DPP
        if: steps.cache-dpp.outputs.cache-hit != 'true'
        run: |
          git clone https://github.com/brainboxdotcc/DPP
          cd DPP
          git switch --detach v10.1.3
          cmake -B ./build -DCMAKE_INSTALL_PREFIX=${{ github.workspace }}/dpp_build_output
          cmake --build ./build -j$(nproc)
          cd build
          sudo make install

      - name: Cache mongocxx
        uses: actions/cache@v6
        id: cache-mongocxx
        with:
          path: mongo_build_output
          key: mongocxx-r4.1.4 # Change this to invalidate cache when updating mongocxx

      - name: Build mongocxx
        if: steps.cache-mongocxx.outputs.cache-hit != 'true'
        run: |
          curl -sOLf https://github.com/mongodb/mongo-cxx-driver/releases/download/r4.1.4/mongo-cxx-driver-r4.1.4.tar.gz
          tar -xzf mongo-cxx-driver-r4.1.4.tar.gz
          cd mongo-cxx-driver-r4.1.4/build
          cmake .. -DCMAKE_BUILD_TYPE=Release -DCMAKE_CXX_STANDARD=20 -DCMAKE_INSTALL_PREFIX=${{ github.workspace }}/mongo_build_output
          cmake --build . -j$(nproc)
          sudo cmake --build . --target install

      - name: Install Dependencies
        run: |
          sudo cp -rn dpp_build_output/* /usr/local/
          sudo cp -rn mongo_build_output/* /usr/local/
          sudo ldconfig

      - name: Prepare Files
        env:
          CONFIG_DATA: ${{ secrets.CONFIG_DATA }}
        run: echo $CONFIG_DATA | base64 -d > $GITHUB_WORKSPACE/src/include/config.h

      - name: Build Project
        run: make -j$(nproc)

      - name: Sign Binary
        env:
          SIGNATURE_KEY: ${{ secrets.SIGNATURE_KEY }}
        run: echo $SIGNATURE_KEY | base64 -d > $GITHUB_WORKSPACE/signature.pem && openssl dgst -sha256 -sign $GITHUB_WORKSPACE/signature.pem -out $GITHUB_WORKSPACE/hildabot.signature $GITHUB_WORKSPACE/hildabot

      - name: Deploy Project
        env:
          DEPLOY_KEY: ${{ secrets.DEPLOY_KEY }}
          DEPLOY_URL: ${{ secrets.DEPLOY_URL }}
        run: "curl -sf -X POST -F payload=@$GITHUB_WORKSPACE/hildabot -F signaturefile=@$GITHUB_WORKSPACE/hildabot.signature -H \"Authorization: $DEPLOY_KEY\" -m 30 $DEPLOY_URL"

